body {
    background: linear-gradient(to right, rgb(96, 190, 167), rgb(102, 99, 99),rgb(20, 20, 20));
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
}
#titulo{
    flex-direction: column;
    line-height: 10px;
    
    
}
.logo1{
    width: 70px;
    height: 70px;
    position: relative;
    top: 5px;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo1:hover{
    transform: scale(1.1);
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    
    transition: 0.5s all;
}
li{
    display: inline-block;
    margin: 20px;    
}
li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background:whitesmoke;
    transition: width 0.5s ease;
}

li:hover::after{
    width: 100%;
}

h1{
    font-weight: 200;
}
.imagem1{
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
}
.imagem1:hover{
    transform: scale(1.1);
}
.galeria{
    width: 100%; /* Ocupa a largura da tela */
    white-space: nowrap; /* Evita quebras de linha */
    scrollbar-width: thin; /* Para navegadores compatíveis */
    display: flex;
    gap: 10px;
    padding: 10px;
}
.galeria img{
    width: 590px;
    height: 400px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    cursor: pointer;
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}
.galeria img:hover{
    transform: scale(1.1);
}
.galeria2{
    width: 100%; /* Ocupa a largura da tela */
    white-space: nowrap; /* Evita quebras de linha */
    scrollbar-width: thin; /* Para navegadores compatíveis */
    display: flex;
    gap: 10px;
    padding: 10px;
}
.galeria2 img{
    width: 590px;
    height: 400px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    cursor: pointer;
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}
.galeria2 img:hover{
    transform: scale(1.1);
}



