body {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    animation: changeBackground 10s infinite;
}
@keyframes changeBackground{
    0% {background-color:#008B8B ;}
    25% {background-color:#808080 ;}
    50% {background-color:#A9A9A9 ;}
    75% {background-color:#808080 ;}
    100% {background-color: #008B8B;}
}
html{
    scroll-behavior: smooth;
}  
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.custom-divider{
    height: 1px;
    background-color: white;
    border: none;
    margin: 1px 0;
}
#inicio{
    font-style: italic;
    opacity: 70%;
}
#titulo{
    flex-direction: column;
    line-height: 7px;
    font-size: 20px;   
}
#vidas{
    text-align: left;
    opacity: 70%;
    font-style: italic;
}

.logo1{
    width: 70px;
    height: 70px;
    position: relative;
    top: 8px;
    right: 30px;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 70%;
}
.logo1:hover{
    transform: scale(1.1);
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    
    transition: 0.5s all;
}
li{
    display: inline-block;
    margin: 20px;    
}
li:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background:whitesmoke;
    transition: width 0.5s ease;
}

li:hover::after{
    width: 100%;
}

h1{
    font-weight: 200;
}

.imagem {
    width: 1000px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 40px;
    border-radius: 50px;
}
.imagem:hover{
    transform: scale(1.1);
}
.imagem1{
    width: 1000px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 40px;
    border-radius: 50px;
}
.imagem1:hover{
    transform: scale(1.1);
}
.galeria{
    width: 100%; /* Ocupa a largura da tela */
    white-space: nowrap; /* Evita quebras de linha */
    scrollbar-width: thin; /* Para navegadores compatíveis */
    display: flex;
    gap: 10px;
    padding: 10px;
}
.galeria img{
    width: 590px;
    height: 400px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    cursor: pointer;
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}
.galeria img:hover{
    transform: scale(1.1);
}
.galeria2{
    width: 100%; /* Ocupa a largura da tela */
    white-space: nowrap; /* Evita quebras de linha */
    scrollbar-width: thin; /* Para navegadores compatíveis */
    display: flex;
    gap: 10px;
    padding: 10px;
}
.galeria2 img{
    width: 590px;
    height: 400px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    cursor: pointer;
    transition: transform 0.3s ease; /* Efeito ao passar o mouse */
}
.galeria2 img:hover{
    transform: scale(1.1);
}
#c1{
    text-decoration: underline;
}
#c1:hover{
    color: green;
}
img{
    border-radius: 8px;
}


